In [5]:
import re
import pandas as pd

In [6]:
import pgeocode

In [7]:
df = pd.read_csv('homegate_final_unprocessed.csv')

In [8]:
df.head()

,Unnamed: 0,price,type,room_num,floor,area_m2,floors_num,year_built,last_refurbishment,address
0,0,"CHF1,235,000.–",Apartment,2.5,GF,138 m2,4.0,2015.0,2018.0,8914 Aeugst am Albis
1,1,"CHF650,000.–",Apartment,4.5,1,121 m2,NaN,1987.0,2021.0,"Via Vecchio Canale 2, 6982 Agno"
2,2,"CHF1,062,900.–",Apartment,2.5,1,63 m2,NaN,NaN,NaN,"Via Campione, 6816 Bissone"
3,3,"CHF1,125,500.–",Attic flat,2.5,3,63 m2,NaN,NaN,NaN,"Via Campione, 6816 Bissone"
4,4,"CHF2,180,700.–",Apartment,3.5,2,125 m2,NaN,NaN,NaN,"Via Campione, 6816 Bissone"

In [9]:
df = df.drop(['Unnamed: 0'], axis=1)
df

,price,type,room_num,floor,area_m2,floors_num,year_built,last_refurbishment,address
0,"CHF1,235,000.–",Apartment,2.5,GF,138 m2,4.0,2015.0,2018.0,8914 Aeugst am Albis
1,"CHF650,000.–",Apartment,4.5,1,121 m2,NaN,1987.0,2021.0,"Via Vecchio Canale 2, 6982 Agno"
2,"CHF1,062,900.–",Apartment,2.5,1,63 m2,NaN,NaN,NaN,"Via Campione, 6816 Bissone"
3,"CHF1,125,500.–",Attic flat,2.5,3,63 m2,NaN,NaN,NaN,"Via Campione, 6816 Bissone"
4,"CHF2,180,700.–",Apartment,3.5,2,125 m2,NaN,NaN,NaN,"Via Campione, 6816 Bissone"
...,...,...,...,...,...,...,...,...,...
2193,"CHF695,000.–",Bifamiliar house,4.5,NaN,144 m2,NaN,2022.0,NaN,1994 Aproz (Nendaz)
2194,"CHF695,000.–",Bifamiliar house,4.5,NaN,144 m2,NaN,2022.0,NaN,1994 Aproz (Nendaz)
2195,"CHF695,000.–",Row house,4.5,NaN,144 m2,NaN,2022.0,NaN,1994 Aproz (Nendaz)
2196,"CHF695,000.–",Bifamiliar house,4.5,NaN,144 m2,NaN,2022.0,NaN,1994 Aproz (Nendaz)
2197,"CHF695,000.–",Bifamiliar house,4.5,NaN,144 m2,NaN,2022.0,NaN,1994 Aproz (Nendaz)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2198 entries, 0 to 2197
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   price               2198 non-null   object
 1   type                2198 non-null   object
 2   room_num            2083 non-null   float64
 3   floor               934 non-null    object
 4   area_m2             2033 non-null   object
 5   floors_num          721 non-null    float64
 6   year_built          1661 non-null   float64
 7   last_refurbishment  495 non-null    float64
 8   address             2198 non-null   object
dtypes: float64(4), object(5)
memory usage: 154.7+ KB

In [11]:
def remove_unwanted_char(org_str):
    mod_string = ""
    for i in range(3, len(org_str)):
        mod_string = mod_string + org_str[i]
    return mod_string[:-2]

df['price'] = df['price'].apply(remove_unwanted_char)
df

,price,type,room_num,floor,area_m2,floors_num,year_built,last_refurbishment,address
0,"1,235,000",Apartment,2.5,GF,138 m2,4.0,2015.0,2018.0,8914 Aeugst am Albis
1,"650,000",Apartment,4.5,1,121 m2,NaN,1987.0,2021.0,"Via Vecchio Canale 2, 6982 Agno"
2,"1,062,900",Apartment,2.5,1,63 m2,NaN,NaN,NaN,"Via Campione, 6816 Bissone"
3,"1,125,500",Attic flat,2.5,3,63 m2,NaN,NaN,NaN,"Via Campione, 6816 Bissone"
4,"2,180,700",Apartment,3.5,2,125 m2,NaN,NaN,NaN,"Via Campione, 6816 Bissone"
...,...,...,...,...,...,...,...,...,...
2193,"695,000",Bifamiliar house,4.5,NaN,144 m2,NaN,2022.0,NaN,1994 Aproz (Nendaz)
2194,"695,000",Bifamiliar house,4.5,NaN,144 m2,NaN,2022.0,NaN,1994 Aproz (Nendaz)
2195,"695,000",Row house,4.5,NaN,144 m2,NaN,2022.0,NaN,1994 Aproz (Nendaz)
2196,"695,000",Bifamiliar house,4.5,NaN,144 m2,NaN,2022.0,NaN,1994 Aproz (Nendaz)
2197,"695,000",Bifamiliar house,4.5,NaN,144 m2,NaN,2022.0,NaN,1994 Aproz (Nendaz)

In [12]:
df['area_m2'] = df['area_m2'].str.split(' ').str[0]

In [13]:
df[['floors_num']] = df[['floors_num']].fillna(1)

In [14]:
df['address'].unique()

array(['8914 Aeugst am Albis', 'Via Vecchio Canale 2, 6982 Agno',
       'Via Campione, 6816 Bissone', ...,
       'Rue des Îles 26 (Villa Eucalyptus), 1994 Aproz',
       'Rue des Îles 26 (Villa Sycomore), 1994 Aproz',
       "impasse Bord'Eau, 1994 Aproz (Nendaz)"], dtype=object)

In [15]:
def extract_zip(address):
    str1 = [s for s in address.split() if not s.isdigit()]
    return " ".join(str1)

#need to extract city to attach to certain canton
def city(address):
    if ',' in address:
        str1 = address.split(',')
        str2 = str1[1]
    else:
        str2 = address
    return str2

In [16]:
df['zip_city'] = df['address'].apply(city)

In [17]:
df

,price,type,room_num,floor,area_m2,floors_num,year_built,last_refurbishment,address,zip_city
0,"1,235,000",Apartment,2.5,GF,138,4.0,2015.0,2018.0,8914 Aeugst am Albis,8914 Aeugst am Albis
1,"650,000",Apartment,4.5,1,121,1.0,1987.0,2021.0,"Via Vecchio Canale 2, 6982 Agno",6982 Agno
2,"1,062,900",Apartment,2.5,1,63,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone
3,"1,125,500",Attic flat,2.5,3,63,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone
4,"2,180,700",Apartment,3.5,2,125,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone
...,...,...,...,...,...,...,...,...,...,...
2193,"695,000",Bifamiliar house,4.5,NaN,144,1.0,2022.0,NaN,1994 Aproz (Nendaz),1994 Aproz (Nendaz)
2194,"695,000",Bifamiliar house,4.5,NaN,144,1.0,2022.0,NaN,1994 Aproz (Nendaz),1994 Aproz (Nendaz)
2195,"695,000",Row house,4.5,NaN,144,1.0,2022.0,NaN,1994 Aproz (Nendaz),1994 Aproz (Nendaz)
2196,"695,000",Bifamiliar house,4.5,NaN,144,1.0,2022.0,NaN,1994 Aproz (Nendaz),1994 Aproz (Nendaz)
2197,"695,000",Bifamiliar house,4.5,NaN,144,1.0,2022.0,NaN,1994 Aproz (Nendaz),1994 Aproz (Nendaz)

In [18]:
df['city'] = df['zip_city'].apply(extract_zip)

In [19]:
df

,price,type,room_num,floor,area_m2,floors_num,year_built,last_refurbishment,address,zip_city,city
0,"1,235,000",Apartment,2.5,GF,138,4.0,2015.0,2018.0,8914 Aeugst am Albis,8914 Aeugst am Albis,Aeugst am Albis
1,"650,000",Apartment,4.5,1,121,1.0,1987.0,2021.0,"Via Vecchio Canale 2, 6982 Agno",6982 Agno,Agno
2,"1,062,900",Apartment,2.5,1,63,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone
3,"1,125,500",Attic flat,2.5,3,63,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone
4,"2,180,700",Apartment,3.5,2,125,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone
...,...,...,...,...,...,...,...,...,...,...,...
2193,"695,000",Bifamiliar house,4.5,NaN,144,1.0,2022.0,NaN,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz)
2194,"695,000",Bifamiliar house,4.5,NaN,144,1.0,2022.0,NaN,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz)
2195,"695,000",Row house,4.5,NaN,144,1.0,2022.0,NaN,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz)
2196,"695,000",Bifamiliar house,4.5,NaN,144,1.0,2022.0,NaN,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz)
2197,"695,000",Bifamiliar house,4.5,NaN,144,1.0,2022.0,NaN,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz)

In [20]:
# df = df.drop(['address', 'zip_city'], axis=1)

In [21]:
df[['floor']] = df[['floor']].fillna("GF")

In [22]:
def extract_zip2(address):
    str1 = [s for s in address.split() if s.isdigit()]
    str2 = ""   
    for ele in str1: 
        str2 += ele
    return str2

In [23]:
df['zip'] = df['zip_city'].apply(extract_zip2)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2198 entries, 0 to 2197
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   price               2198 non-null   object
 1   type                2198 non-null   object
 2   room_num            2083 non-null   float64
 3   floor               2198 non-null   object
 4   area_m2             2033 non-null   object
 5   floors_num          2198 non-null   float64
 6   year_built          1661 non-null   float64
 7   last_refurbishment  495 non-null    float64
 8   address             2198 non-null   object
 9   zip_city            2198 non-null   object
 10  city                2198 non-null   object
 11  zip                 2198 non-null   object
dtypes: float64(4), object(8)
memory usage: 206.2+ KB

In [25]:
nomi = pgeocode.Nominatim('ch')
nomi.query_postal_code("8134")
quer = nomi.query_postal_code("8134")
quer['latitude']
df['lat'] = ''
df['lon'] = ''
df['canton'] = ''

In [26]:
for i in range(0, 2198):
    s = df.at[i, 'zip']
    data = nomi.query_postal_code(s)
    df.at[i, 'lat'] = data['latitude']
    df.at[i, 'lon'] = data['longitude']
    df.at[i, 'canton'] = data['state_name']

In [27]:
df.head()

,price,type,room_num,floor,area_m2,floors_num,year_built,last_refurbishment,address,zip_city,city,zip,lat,lon,canton
0,"1,235,000",Apartment,2.5,GF,138,4.0,2015.0,2018.0,8914 Aeugst am Albis,8914 Aeugst am Albis,Aeugst am Albis,8914,47.2822,8.48965,Kanton Zürich
1,"650,000",Apartment,4.5,1,121,1.0,1987.0,2021.0,"Via Vecchio Canale 2, 6982 Agno",6982 Agno,Agno,6982,46.0005,8.9028,Ticino
2,"1,062,900",Apartment,2.5,1,63,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone,6816,45.951,8.9655,Ticino
3,"1,125,500",Attic flat,2.5,3,63,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone,6816,45.951,8.9655,Ticino
4,"2,180,700",Apartment,3.5,2,125,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone,6816,45.951,8.9655,Ticino

In [29]:
df.last_refurbishment.fillna(df.year_built, inplace=True)

In [31]:
df = df.drop(['zip_city', 'address'], axis=1)

In [41]:
df_final=df.dropna(subset=['canton'])

In [36]:
df['canton'].unique()

array(['Kanton Zürich', 'Ticino', 'Kanton Basel-Landschaft',
       'Kanton St. Gallen', 'Kanton Thurgau', 'Kanton Aargau',
       'Kanton Luzern', 'Kanton Schaffhausen', 'Kanton Schwyz',
       'Neuchâtel', 'Canton de Berne', 'Canton du Valais',
       'Kanton Graubünden', 'Kanton Zug', 'Kanton Solothurn', 'Genève',
       'Canton de Vaud', 'Jura', 'Canton de Fribourg', 'Kanton Uri', nan,
       'Kanton Appenzell Ausserrhoden', 'Kanton Obwalden',
       'Kanton Basel-Stadt', 'Kanton Glarus',
       'Kanton Appenzell Innerrhoden'], dtype=object)

In [42]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2191 entries, 0 to 2197
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   price               2191 non-null   object
 1   type                2191 non-null   object
 2   room_num            2077 non-null   float64
 3   floor               2191 non-null   object
 4   area_m2             2026 non-null   object
 5   floors_num          2191 non-null   float64
 6   year_built          1657 non-null   float64
 7   last_refurbishment  1728 non-null   float64
 8   city                2191 non-null   object
 9   zip                 2191 non-null   object
 10  lat                 2191 non-null   object
 11  lon                 2191 non-null   object
 12  canton              2191 non-null   object
dtypes: float64(4), object(9)
memory usage: 239.6+ KB

In [43]:
df_final.to_csv('homegate_final.csv')

unsuccessful attempt

In [20]:
ch = pd.read_csv('ch.csv')

In [21]:
qual = pd.read_csv('quality_ind.csv')

In [22]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               1256 non-null   object
 1   lat                1256 non-null   float64
 2   lng                1256 non-null   float64
 3   country            1256 non-null   object
 4   iso2               1256 non-null   object
 5   admin_name         1256 non-null   object
 6   capital            67 non-null     object
 7   population         1250 non-null   float64
 8   population_proper  1250 non-null   float64
dtypes: float64(4), object(5)
memory usage: 88.4+ KB

In [23]:
qual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94248 entries, 0 to 94247
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   hospital            94248 non-null  object
 1   indicator_eng       94248 non-null  object
 2   num_cases2014_2019  94248 non-null  object
 3   code                94248 non-null  object
 4   age_cat             94248 non-null  object
 5   mortality           94248 non-null  bool
 6   disease_group       94248 non-null  object
 7   canton_name         94248 non-null  object
 8   zip                 94248 non-null  object
 9   City                94248 non-null  object
 10  street              94248 non-null  object
dtypes: bool(1), object(10)
memory usage: 7.3+ MB

In [24]:
qual['zip'] = qual['zip'].astype(str).str.split('.', expand = True)[0]

In [25]:
qual = qual.rename(columns={"City": "city"})

In [26]:
df2 = pd.merge(df, ch[['city', 'lat', 'lng', 'population']], on='city', how='left')
df2.head()

,price,type,room_num,floor,area_m2,floors_num,year_built,last_refurbishment,address,zip_city,city,zip,lat,lng,population
0,"1,235,000",Apartment,2.5,GF,138,4.0,2015.0,2018.0,8914 Aeugst am Albis,8914 Aeugst am Albis,Aeugst am Albis,8914,47.2675,8.4853,1982.0
1,"650,000",Apartment,4.5,1,121,1.0,1987.0,2021.0,"Via Vecchio Canale 2, 6982 Agno",6982 Agno,Agno,6982,46.0002,8.9001,4445.0
2,"1,062,900",Apartment,2.5,1,63,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone,6816,NaN,NaN,NaN
3,"1,125,500",Attic flat,2.5,3,63,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone,6816,NaN,NaN,NaN
4,"2,180,700",Apartment,3.5,2,125,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone,6816,NaN,NaN,NaN

In [28]:
df2.last_refurbishment.fillna(df2.year_built, inplace=True)

In [29]:
df2

,price,type,room_num,floor,area_m2,floors_num,year_built,last_refurbishment,address,zip_city,city,zip,lat,lng,population
0,"1,235,000",Apartment,2.5,GF,138,4.0,2015.0,2018.0,8914 Aeugst am Albis,8914 Aeugst am Albis,Aeugst am Albis,8914,47.2675,8.4853,1982.0
1,"650,000",Apartment,4.5,1,121,1.0,1987.0,2021.0,"Via Vecchio Canale 2, 6982 Agno",6982 Agno,Agno,6982,46.0002,8.9001,4445.0
2,"1,062,900",Apartment,2.5,1,63,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone,6816,NaN,NaN,NaN
3,"1,125,500",Attic flat,2.5,3,63,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone,6816,NaN,NaN,NaN
4,"2,180,700",Apartment,3.5,2,125,1.0,NaN,NaN,"Via Campione, 6816 Bissone",6816 Bissone,Bissone,6816,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2205,"695,000",Bifamiliar house,4.5,GF,144,1.0,2022.0,2022.0,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz),1994,NaN,NaN,NaN
2206,"695,000",Bifamiliar house,4.5,GF,144,1.0,2022.0,2022.0,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz),1994,NaN,NaN,NaN
2207,"695,000",Row house,4.5,GF,144,1.0,2022.0,2022.0,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz),1994,NaN,NaN,NaN
2208,"695,000",Bifamiliar house,4.5,GF,144,1.0,2022.0,2022.0,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz),1994,NaN,NaN,NaN
2209,"695,000",Bifamiliar house,4.5,GF,144,1.0,2022.0,2022.0,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz),1994,NaN,NaN,NaN

In [38]:
df2 = df2[df2['year_built'].notna()]

In [39]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1673 entries, 0 to 2209
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   price               1673 non-null   object
 1   type                1673 non-null   object
 2   room_num            1607 non-null   float64
 3   floor               1673 non-null   object
 4   area_m2             1586 non-null   object
 5   floors_num          1673 non-null   float64
 6   year_built          1673 non-null   float64
 7   last_refurbishment  1673 non-null   float64
 8   address             1673 non-null   object
 9   zip_city            1673 non-null   object
 10  city                1673 non-null   object
 11  zip                 1673 non-null   object
 12  lat                 964 non-null    float64
 13  lng                 964 non-null    float64
 14  population          964 non-null    float64
dtypes: float64(7), object(8)
memory usage: 209.1+ KB

In [40]:
null_data = df2[df2.isnull().any(axis=1)]
null_data

,price,type,room_num,floor,area_m2,floors_num,year_built,last_refurbishment,address,zip_city,city,zip,lat,lng,population
11,"660,000",Apartment,2.5,GF,90,1.0,2023.0,2023.0,8483 Kollbrunn,8483 Kollbrunn,Kollbrunn,8483,NaN,NaN,NaN
12,"910,000",Apartment,3.5,3,119,1.0,2023.0,2023.0,8483 Kollbrunn,8483 Kollbrunn,Kollbrunn,8483,NaN,NaN,NaN
13,"1,180,000",Duplex,5.5,GF,173,4.0,2023.0,2023.0,8483 Kollbrunn,8483 Kollbrunn,Kollbrunn,8483,NaN,NaN,NaN
14,"1,390,000",Duplex,5.5,4,184,2.0,2023.0,2023.0,8483 Kollbrunn,8483 Kollbrunn,Kollbrunn,8483,NaN,NaN,NaN
32,"510,000",Apartment,2.5,3,58,1.0,1972.0,2021.0,"Bahnhofstrasse 114, 6423 Seewen SZ",6423 Seewen SZ,Seewen SZ,6423,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2205,"695,000",Bifamiliar house,4.5,GF,144,1.0,2022.0,2022.0,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz),1994,NaN,NaN,NaN
2206,"695,000",Bifamiliar house,4.5,GF,144,1.0,2022.0,2022.0,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz),1994,NaN,NaN,NaN
2207,"695,000",Row house,4.5,GF,144,1.0,2022.0,2022.0,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz),1994,NaN,NaN,NaN
2208,"695,000",Bifamiliar house,4.5,GF,144,1.0,2022.0,2022.0,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz),1994,NaN,NaN,NaN
2209,"695,000",Bifamiliar house,4.5,GF,144,1.0,2022.0,2022.0,1994 Aproz (Nendaz),1994 Aproz (Nendaz),Aproz (Nendaz),1994,NaN,NaN,NaN

postal_code                       8134
country_code                        CH
place_name        Adliswil, Adliswil 1
state_name               Kanton Zürich
state_code                          ZH
county_name              Bezirk Horgen
county_code                        106
community_name                Adliswil
community_code                     131
latitude                       47.3093
longitude                       8.5213
accuracy                           4.0
Name: 0, dtype: object